* {
    margin: 0;
    padding: 0;
    
}

body {
    height: 100%;
    box-sizing: border-box;
}



#add-btn {
    display: block;
    margin: 20px auto;
    
    padding: 12px;
}

/* FORM */
#submit-btn {
    margin: 5px auto;
    padding: 12px;
}


#add-book-form {
   display: none;
  
   margin: 35px 0;
}

#form-content {   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

#form-content:last-child{
    display: flex;
}


/* LIBRARY */

#library {
    margin: 0 auto;
    max-width: 80%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));   
}

.library-card {
    display: flex;
    flex-direction: row;
    gap: 5px;

    background-color: antiquewhite;
    padding: 15px;

    border-radius: 8px;
}

.library-card #card-book-cover {
    max-height: 100px;
   
}

#card-title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

#card-author {
    font-size: 18px;
}

#card-pages {
    font-size: 14px;
    opacity: .7;
}